.colle{

}
.containers{
    border :2px solid red ;
    width :1000px;
    height: 600px;
    margin: 10px;
}
.contianers.contianers1{
border: 2px soild black;
width: 800px;
height: 400px;
}
.navigation-bar {
    width: 100%;
    height: 40px;
    background-color:#8dc43f;
    border-radius: 0px;
    font-family: sans-serif;
    font: bold;
    text-align: center;
    padding: 0px;
    margin: 0px;
  }
  a:hover {
    font-weight: 1000;
    
  }
  .navigation-bar > a {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    height: 80px;
    line-height: 40px;
    color: white;
  }